/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

 /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
    --fontcolor: #353430;
    --htitlecolor: #ffc2e6;
    --bgcolor: #FF8DCB;
    --themelightimg: url(../images/cover-image-light.png);

    
    background-image: var(--themelightimg);

}

@media (prefers-color-scheme: light) {
  :root {
    --fontcolor: #353430;
    --htitlecolor: #ffc2e6;
    --bgcolor: #FF8DCB;
    --themelightimg: url(../images/cover-image-light.png);
  }
  
}

.theme_light .header__theme-menu-button {
  color: var(--fontcolor);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--fontcolor);
}

.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--fontcolor);
}

.theme_light .header-title {
  color: var(--htitlecolor);
}

.theme_light .header-text {
  color: var(--fontcolor);
}

.theme_light .dark-theme-decoration::before {
  display: none;
}

.theme_light .decoration-point::before {
  display: none;
}

.theme_light .decorated-zone::before {
  border-inline-end: 1px solid var(--fontcolor);
  border-block-start: 1px solid var(--fontcolor);
}

.theme_light .decorated-zone::after {
  border-inline-start: 1px solid var(--fontcolor);
  border-block-end: 1px solid var(--fontcolor);
}

.theme_light .title-decor {
  background-color: var(--bgcolor);
}

.theme_light .txt-link {
  text-shadow: 2px 2px 0px var(--bgcolor)
}

.theme_light .section-title {
  color: var(--fontcolor);
}

.theme_light .section-text {
  color: var(--fontcolor);
}

.theme_light .list-title {
  color: var(--fontcolor);
}

.theme_light .footer-title {
  color: var(--htitlecolor);
}

@media (575px < width < 915px) {
  .theme_light .header-title {
    text-shadow: 4px 4px 0px var(--bgcolor)
  }

  .theme_light .footer-title {
    text-shadow: 4px 4px 0px var(--bgcolor)
  }
}

@media (width <= 375px) {
  .theme_light .header-title {
    text-shadow: 4px 4px 0px var(--bgcolor)
  }

  .theme_light .footer-title {
    text-shadow: 4px 4px 0px var(--bgcolor)
  }
}
