/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

 /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
    --sectxtcolor: #353430;
    --tcolor: #353430;
    --button_color: #353430;
    --focuscolor: #ffc2e6;
    --tbckcolor: #FF8DCB;
    --section_title_color: #353430;
    --button_hover_color: rgba(50, 49, 45, 0.40);
    --bgimage: url(../images/cover-image-light.png);
    --bg_color: #fff;
    --header_decor_color: #353430;

    
    background-image: var(--bgimage, url(../images/cover-image-light.png));
    background-color: var(--bg_color, #fff);

}

.theme_light .header_decoration::after {
  display: none;
}


.theme_light .header_decoration::before {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --sectxtcolor: #353430;
    --button_color: #353430;
    --tcolor: #353430;
    --focuscolor: #ffc2e6;
    --tbckcolor: #FF8DCB;
    --section_title_color: #353430;
    --button_hover_color: rgba(50, 49, 45, 0.40);
    --bgimage: url(../images/cover-image-light.png);
    --bg_color: #fff;
    --header_decor_color: #353430;
  }

  .header_decoration::after {
    display: none;
  }

  .header_decoration::before {
    display: none;
  }

}
