/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-inline-size: 1024px;
  font-family: var(--mainfontf, 'IBM Plex mono', monospace);
  background-image: var(--bgimage, url(../images/cover-image-dark.png));
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-areas: 
  "btn btn btn"
  "focus focus ."
  ". text text";
  max-inline-size: 1024px;
  block-size: 100vh;
  min-block-size: 668px;
  margin: 0 auto;
  grid-template-rows: 1fr auto 1fr;
  padding: 20px 20px 20px 0; 
  position: relative;
}

.header__theme-menu {
  grid-area: btn;
  justify-self: center;
  padding-inline-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  align-content: start;
  gap: 10px;
  font-size: var(--fsize, 18px);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  max-inline-size: 70px;
  min-block-size: 26px;
  color: var( --button_color, #ff0070);
  text-transform: lowercase;
  padding: 0 13px 5px 13px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--button_hover_color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--tbckcolor, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var( --button_color, #ff0070);   
  pointer-events: none;
}

.header-text_container {
  grid-area: text;
  max-inline-size: 491px;
  justify-self: end;
  margin-block-start: 79px;
}

.title-decor {
  background-color: var(--tbckcolor, #ff0070);
}

.header-text {
  font-family: inherit;
  font-weight: bold;
  font-size: var(--fsize, 18px);
  color: var(--tcolor, #000028);
}

.header-title {
  grid-area: focus;
  max-inline-size: 759px;
  font-size: var(--titlesize, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  font-family: inherit;
  color: var(--focuscolor, #DB00FF);
  text-shadow: 4px 4px 0px var(--title_shadow_color, #ff0070);
}

.header_decoration::before {
  position: absolute;
  content: 'rec';
  top: 0;
  right: 0;
  font-family: inherit;
  font-size: var(--fsize, 18px);
  text-transform: uppercase;
  color: var(--tbckcolor, #ff0070);
  inset-inline-end: 50px;
  inset-block-start: 22px;
}

.header_decoration::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  top: 0;
  right: 0;
  border-radius: 50%;
  inset-inline-end: 30px;
  inset-block-start: 30px;
  background-color: var(--tbckcolor, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--tbckcolor, #ff0070 );
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  right: 0;
  top: 0;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  border-inline-end: 1px solid var(--tbckcolor, #ff0070);
  border-block-start: 1px solid var(--tbckcolor, #ff0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  bottom: 0;
  left: 0;
  inset-block-end: 20px;
  inset-inline-start: 19px;
  border-inline-start: 1px solid var(--tbckcolor, #ff0070);
  border-block-end: 1px solid var(--tbckcolor, #ff0070);
}

.why-section {
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 10px;
  margin-block-start: 60px;
  padding: 0 20px;
  font-family: var(--mainfontf, 'IBM Plex mono', monospace);
}

.why-section_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 23.4px;
  max-inline-size: 648px;
}

.section_list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: var(--fsize, 18px);
  color: var(--section_title_color, #ff0070);
  font-family: inherit;
}

.section-text {
  font-size: var(--fsize, 18px);
  font-family: inherit;
  color: var( --sectxtcolor, #F1B2CE);
}

.txt-link {
  text-shadow: 2px 2px 0px var(--tbckcolor, #ff0070);
  text-decoration: none;
}

.txt-link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--sectxtcolor, #F1B2CE);
  text-underline-offset: 2px;
}

.txt-link:focus {
  outline: none;
}

.txt-link:focus-visible {
  outline: 1px solid var(--sectxtcolor, #F1B2CE);
}

.list-title {
  font-size: var(--fsize, 18px);
  color: var(--tcolor, #000028);
  line-height: 23.4px;
}

.which-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 80px;
  padding: 0 20px;
  font-family: var(--mainfontf, 'IBM Plex mono', monospace);
}

.which-section_list {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 line-height: 23.4px;
}

.how-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-start: 80px;
  padding: 0 20px;
  font-family: var(--mainfontf, 'IBM Plex mono', monospace);
}

.how-section_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 23.4px;
  padding-inline-start: 8px;
}

.gallery-section {
  margin-block-start: 80px;
  padding: 0 20px;
}

.pictures-list {
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "s s i"
  "t b i"
  "t st st";
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.sunset {
  grid-area: s;
}

.tape {
  grid-area: t;
}

.books {
  grid-area: b;
}

.ice-cream {
  grid-area: i;
}

.street {
  grid-area: st;
}

.gallery-section_title {
  margin-block-end: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
  max-inline-size: 1024px;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 20px;
  position: relative;
}

.footer-title {
  font-size: var(--titlesize, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  color: var(--focuscolor, #DB00FF);
  text-shadow: 2px 2px 0px var(--title_shadow_color, #ff0070);
}

@media ( width <= 768px ) {

  .header {
    grid-template-areas: 
    "btn btn"
    "focus focus"
    "text text";
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
    margin-block-start: 25px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
  }

  .header-title {
    text-shadow: 4px 4px 0px var(--tbckcolor, #ff0070);
  }

  .header-text_container {
    max-inline-size: 364px;
    align-self: center;
    margin-block-start: 0;
    margin-block-end: 30px;
  }

  .list-title {
    inline-size: 100%;
  }

  .why-section_list {
    padding-inline-start: 5px;
    max-inline-size: 472px;
  }

  .section-title {
    max-inline-size: 236px;
  }

  .which-section_list {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    gap: 0;
    line-height: var(--mainlineh);
    margin-bottom: 5px;
  }

  .how-section {
    gap: 7px;
  }

  .footer-title {
    text-shadow: 4px 4px 0px var(--tbckcolor, #ff0070);
  }
}

@media (width <= 450px) {

  .header {
    grid-template-areas: 
    "btn"
    "focus"
    "text";
    padding: 10px;
  }

  .header-title {
    font-size: var(--mtitlesize, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
    max-inline-size: 355px;
    line-height: 95.7px;
  }

  .header-title_container {
    max-inline-size: 355px;
  }

  .header__theme-menu {
    margin-block-end: 30px;
  }

  .header__theme-menu-button {
    padding: 0 13px;
  }

  .header-text_container {
    justify-self: start;
    align-self: center;
    margin-block-start: 25px;
    min-inline-size: 355px;
  }

  .header_decoration::before {
    top: 11px;
    right: 39px;
  }

  .header_decoration::after {
    top: 17px;
    right: 20px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .section-title {
    max-inline-size: 355px;
  }

  .why-section {
    display: flex;
    flex-direction: column;
    margin-block-start: 40px;
    padding: 0 10px;
    gap: 20px;
  }

  .why-section_list {
    padding-inline-start: 0;
  }

  .section_list-item {
    max-inline-size: 355px;
  }

  .which-section {
    margin-block-start: 50px;
    padding: 0 10px;
    gap: 21px;
  }

  .which-section_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 23.4px;
  }

  .how-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block-start: 50px;
    padding: 0 10px;
  }

  .how-section_list {
    padding: 0;
  }

  .gallery-section {
    margin-block-start: 50px;
    padding: 0 10px;
  }

  .gallery-section_title{
    margin-bottom: 10px;
  }

  .pictures-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-block-start: 40px;
    padding: 10px;
  }

  .footer-title {
    font-size: var(--mtitlesize, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  }

}

